body {
    width: 1200px;
    height: 2256px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-weight: normal;
    font-family: "Roboto Medium", "Arial", sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: normal;
    font-family: "Roboto Medium", "Arial", sans-serif;
}

h2 {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: normal;
    font-family: "Roboto Medium", "Arial", sans-serif;
}

/* обшие стили сетки*/

.container {
    width: 900px;
    margin: 0 auto;
    padding: 0 10px;
    outline: 1px solid green;
}

.main-header {
    margin-bottom: 80px;
    outline: 2px solid red;
    min-height: 70px;
}

.logo {
    float: left;
    width: 139px;
    height: 56px;
    margin-right: 60px;
    margin-top: 20px;
    outline: 2px solid yellow;
}

.main-navigation {
    float: left;
    width: 460px;
    outline: 2px solid yellow;
    margin-top: 60px;
    margin-bottom: 60px;
}

.user-block {
    float: right;
    width: 95px;
    outline: 2px solid yellow;
    margin-top: 60px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.maps {
    clear: both;
    outline: 2px solid yellow;
}

.footer {
    margin-top: 80px;
    outline: 1px soild red;
}

.footer-social {
    width: 240px;
    float: left;
    margin-right: 70px;
    outline: 2px solid yellow;
}

.sale {
    width: 570px;
    float: right;
    outline: 2px solid yellow;
}

.write-us {
    display: none;
}

/*сетка index*/

.slides {
    clear: both;
    outline: 2px solid yellow;
    margin-bottom: 80px;
}

.slide:nth-child(2),
.slide:nth-child(3) {
    display: none;
}

.slide-description {
    float: left;
    width: 400px;
}

.slide-right {
    float: right;
    width: 338;
}

.servises {
    outline: 2px solid yellow;
    margin-bottom: 80px;
}

.site {
    float: left;
    width: 240px;
    margin-right: 80px;
}

.apps {
    float: left;
    width: 240px;
}

.presentation {
    float: right;
    width: 240px;
}

.about {
    margin-bottom: 80px;
    outline: 2px solid yellow;
}

.about-us {
    margin-bottom: 60px;
}

.content-left {
    float: left;
    width: 630px;
    outline: 2px solid yellow;
}

.content-right {
    float: right;
    width: 240px;
    outline: 2px solid yellow;
}

.glukhanko-logo,
.academy-logo,
.barbershop-logo {
    display: inline-block;
    vertical-align: middle;
}

.sponsorship .glukhanko-logo {
    margin-left: 10px;
}

.sponsorship .glukhanko-logo,
.sponsorship .academy-logo {
    margin-right: 80px;
}


/*сетка catalog*/

.header-slogan {
    clear: both;
    width: 650px;
    margin: 80px auto;
    outline: 2px solid yellow;
    display: block;
}

.sidebar {
    float: left;
    width: 240px;
    outline: 2px solid yellow;
}

.index-content-catalog {
    float: right;
    width: 560px;
    outline: 2px solid yellow;
    margin-bottom: 80px;
}

.gallery {
    font-size: 0;
}

.item-list {
    display: inline-block;
    width: 240px;
    font-size: 14px;
    vertical-align: top;
    margin-right: 80px;
    margin-bottom: 80px;
}

.item-list:nth-child(2n) {
    margin-right: 0;
}

.sort-item p {
    float: left;
    width: 90px;
    margin-right: 40px;
}

.sorting-btn-wrapper {
    float: left;
    width: 310px;
}

.sorting-item-wrapper {
    float: right;
    width: 30px;
}